<h1>Arrr! Welcome to the Pirate Challenge!</h1>
        <p>Find the hidden treasure code and submit it below!, tip: inspect</p>
        <form id="pirate-form" action="/quiz" method="POST">
            <input type="text" id="code-input" placeholder="Enter the treasure code" name="antwoord" required>
            <button type="submit">Submit</button>
        </form>
        <div class="hidden-message">Only the bravest pirates find the console...</div>